.git
.github
.venv
.pytest_cache
.ruff_cache
.cache
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.db-journal
*.sqlite
*.sqlite-journal
*.sqlite3
*.sqlite3-journal
logs
artifacts
component_state
dist
build
src/*.egg-info
src/**/*.egg-info
